body {
	background-color: #ffffff;
	margin: 0;
	padding: 0;
	font: normal normal normal 11px/normal '.HelveticaNeueDeskInterface-Regular';
}


#header{
	width: 100%;
	height: 70px;
	background-color: #f2f2f2;
	border-bottom: 1px solid #e7e7e7;
	position: fixed;
	top: 0;
	z-index: 100;
}

#items{
	margin-top: 70px;
}

.itemsContainer {
	width:   100%;
	height:  130px;
	background-color: #fff;
	border-bottom: 1px solid #f0f0f0;
	float: left;
	margin: 0;
	position: relative;
}

.itemsContainer img {
	float: left;
	margin: 10px;
}

.itemsContainer ul{
	list-style-type: none;
	margin-bottom: 0;
}

#addItem{
	margin-top: 20px;
	padding-top: 20px;
}

#addItem label {
	width: 100px;
	margin-right: 10px;
	text-align: right;
	line-height: 25px;
}

#addItem label #addItem input{
	display: block;
	margin-bottom: 10px;
	float: left;
}

#addItem label[for="title"], #addItem label[for="releaseDate"] {
	clear: both;
}

#addItem div{
	width: 100%;
	margin-top: 20px;
}

div.item_info{
	width: 75%;
	position: absolute;
	left: 20px;
	top: 10px;
}

div.item_info div#name{
	font-size: 2em;
	color: #29ABE2;
	margin-bottom: 10px;
}

div.item_info div#size, 
div.item_info div#amount,
div.item_info div#itemLocation{
	font-size: 1.2em;
	color: #333;
	margin-bottom: 5px;
}

div.item_info span.descriptor{
	color: #6FB6C9;
}

div.item_info span.descriptorLoc{
	color: #C1272D;
}

div.item_info div#name div#desc{
	display: inline;
	font-size: 0.7em;
	color: #999999;
	margin-left: 10px;
}



.order{
	position: absolute;
	width: 100px;
	height: 40px;
	border: 1px solid #1F8CB2;
	background-color: #29ABE2;
	border-radius: 0;
	top: 20px;
	right: 20px;
	color: #f2f2f2;
}

.view{
	position: absolute;
	width: 80px;
	height: 30px;
	border: 1px solid #eeeeee;
	background-color: #f0f0f0;
	border-radius: 0;
	bottom: 20px;
	right: 20px;
	color: #666;
}

#gotoform{
	position: absolute;
	bottom: 10px;
	right: 20px;
	width: 50px;
	height: 50px;
	background-color: #f2f2f2;
	border-radius: 50%;
	border: 1px solid #005584;
	color: #005584;
}

#addItem div:after {
	content: "";
	display: block;
	height: 0;
	visibility: hidden;
	clear: both;
	font-size: 0;
	line-height: 0;
}

#addItem #form_container{
	margin-left: 10%;
	width: 80%;
	margin-top: 30px;
}

#addItem #form_container input{
	width: 100%;
	height: 30px;
	border-radius: 0;
}

#addItem #form_container label{
	font-size: 1.1em;
}

#add{
	float: right;
	margin-right: 10%;
	width: 100px;
	height: 50px;
	background-color: #29ABE2;
	border: 1px solid #1F8CB2;
	color: #f2f2f2;
}

.order_view{
	margin-top: 70px;
}

div.order_view{
	width: 75%;
	position: absolute;
	left: 20px;
	top: 10px;
}

div.order_view div#name{
	font-size: 2em;
	color: #29ABE2;
	margin-bottom: 10px;
}

div.order_view div#size, 
div.order_view div#amount,
div.order_view div#itemLocation{
	font-size: 1.2em;
	color: #333;
	margin-bottom: 5px;
}

div.order_view span.descriptor{
	color: #6FB6C9;
}

div.order_view span.descriptorLoc{
	color: #C1272D;
}

div.order_view div#name div#desc{
	display: inline;
	font-size: 0.7em;
	color: #999999;
	margin-left: 10px;
}

.cancel_order{
	position: absolute;
	width: 80px;
	height: 30px;
	border: 1px solid #eeeeee;
	background-color: #f0f0f0;
	border-radius: 0;
	bottom: 20px;
	right: 20px;
	color: #666;
}

button{
	cursor: pointer;
}

.item_view_info{
	margin: 20px;
}

#login{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 600px;
	background-color: #1F8CB2;
	height: 100%;
	z-index: 105;
}

#login_form_container{
	width: 70%;
	margin-left: 15%;
	margin-top: 100px;
}
#login_form_container input{
	width: 100%;
}

#login_button{
	position: relative;
	top:20px;
	left: 50%;
	margin-left: -50px;
	width: 100px;
	height: 40px;
	background-color: #f2f2f2;
	border: 1px solid #e0e0e0;
	color: #1F8CB2;
}


